<root>
<bean id="engine" class="week7.reflection.Engine">
<property name="power" val = "200"/>
</bean>
<bean id="gear" class="week7.reflection.Manual">
<property name="count" val = "6"/>
</bean>
<bean id="car" class="week7.reflection.Car">
<property name="engine" ref = "engine"/>
<property name="gear" ref="gear"/>
</bean>
</root>